<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img width="50px" src="../../assets/ed-logo.png" />
        <!-- <h1 class="title-app-name">Enlace Digital</h1> -->
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 64 : 0">
        <mat-sidenav opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64" class="menu mat-elevation-z4">
            <mat-nav-list>
                <!-- <h3 mat-subheader>Buscar Folio:</h3> -->
                <mat-list-item id="mat-item-folio" class="mb-3" [disableRipple]="true">
                    <app-buscarfolio style="width: 100%">
                    </app-buscarfolio>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Menu</h3>
                <mat-list-item routerLink="/DoblePlay" routerLinkActive="menu-item-active">
                    <mat-icon mat-list-icon>done_all</mat-icon>
                    <p mat-line> Doble Play </p>
                </mat-list-item>
                <mat-list-item routerLink="/Activaciones" routerLinkActive="menu-item-active">
                    <mat-icon mat-list-icon>queue_play_next</mat-icon>
                    <p mat-line> Activaciones </p>
                </mat-list-item>
                <mat-list-item routerLink="/Activacioness" routerLinkActive="menu-item-active">
                    <mat-icon mat-list-icon>mail_outline</mat-icon>
                    <p mat-line> Otro </p>
                </mat-list-item>
                <mat-list-item routerLink="/Activacionesd" routerLinkActive="menu-item-active">
                    <mat-icon mat-list-icon>dialer_sip</mat-icon>
                    <p mat-line> Dish </p>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
                <mat-toolbar class="bg-white">
                </mat-toolbar>
            <div  class="px-4 py-4">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
