$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
:root {
    --menu-color: #262F3D;
    --menu-focus-color: #343f52;
    --menu-active-color: #03A9F4;
    --border-accent: #404854;
    --table-hover-color: #e3f2fd;
    --primary-color: #1E88E5;
}
